<!DOCTYPE html>
{% load i18n %}
{% load static %}
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} | {% translate "Cylinder Evidence" %}</title>

	<link rel="stylesheet" href="{% static 'vendor/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static "vendor/bootstrap-icons.min.css" %}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

    <script src="{% static "vendor/popper.min.js" %}"></script>
    <script src="{% static "vendor/bootstrap.bundle.min.js" %}"></script>
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <div class="container">
            <a class="navbar-brand" href="/">{% translate "Cylinder Evidence" %}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-default"
                aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar-default">
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                    {% if user.role >= user.Role.ADMIN %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url "cylinder_list" %}">{% translate "Cylinders" %}</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{% translate "Administration" %}</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url "user_list" %}">{% translate "Users" %}</a>
                            <a class="dropdown-item" href="{% url "supplier_list" %}">{% translate "Suppliers" %}</a>
                            <a class="dropdown-item" href="{% url "owner_list" %}">{% translate "Owners" %}</a>
                            <a class="dropdown-item" href="{% url "gas_list" %}">{% translate "Gasses" %}</a>
                            <a class="dropdown-item" href="{% url "building_list" %}">{% translate "Buildings" %}</a>
                            <a class="dropdown-item" href="{% url "workplace_list" %}">{% translate "Workplaces" %}</a>
                            <a class="dropdown-item" href="{% url "location_list" %}">{% translate "Locations" %}</a>
                        </div>
                    </li>
                    {% endif %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">User</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url "password_change" %}">{% translate "Change password" %}</a>
							<form id="postForm" method="post" action="{% url 'logout' %}">
							  {% csrf_token %}
							  <button type="submit" class="dropdown-item">Logout</button>
							</form>
                        </div>
                        {% endif %}
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        {# "Language" here is left untranslated as it is somewhat internationally recognized. #}
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false"><i class="bi bi-globe-europe-africa"></i> Language</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown03">
                            <form id="postForm" method="post" action="{% url 'set_language' %}">
							  {% csrf_token %}
							  <button type="submit" name="language" value="sk" class="dropdown-item">🇸🇰 SK</button>
							  <button type="submit" name="language" value="en-us" class="dropdown-item">🇬🇧 EN</button>
							</form>
                        </div>
                    </li>
                </ul>
            </div>
		</div>
	</nav>

    <div class="container mb-4">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
