{% extends "base.html" %}
{% load i18n %}

{% block content %}

<table>
    <thead>
        <tr>
            <th>{% translate "Name" %}</th>
			<th>{% translate "Actions" %}</th>
        </tr>
    </thead>

    <tbody>
        {% for supplier in object_list %}
        <tr>
            <td>{{ supplier.name }}</td>
            <td>
                <a href="{% url 'supplier_update' pk=supplier.id %}">{% translate "Edit" %}</a>
                <a href="{% url 'supplier_delete' pk=supplier.id %}">{% translate "Delete" %}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'supplier_create' %}">{% translate "Add supplier" %}</a>

{% endblock content %}
