{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% translate "End delivery" %}
{% endblock %}

{% block content %}
    <h1>{% translate 'End delivery' %}</h1>

    <p>{% blocktranslate with supplier=object.name %}Are you sure you want to end this delivery?{% endblocktranslate %}</p>

    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-danger">{% translate 'Yes' %}</button>
        <a href="{% url "cylinder_list" %}" class="btn btn-secondary">{% translate "Cancel" %}</a>
    </form>
{% endblock content %}
