{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% translate "Delete building" %}
{% endblock %}

{% block content %}
    <h1>{% translate 'Delete building' %}</h1>

    <p>{% blocktranslate with building=object.name %}Are you sure you want to delete building {{ building }}?{% endblocktranslate %}</p>

    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-danger">{% translate 'Delete' %}</button>
        <a href="{% url "building_list" %}" class="btn btn-secondary">{% translate "Cancel" %}</a>
    </form>
{% endblock content %}
