{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% translate "Delete location" %}
{% endblock %}

{% block content %}
    <h1>{% translate 'Delete location' %}</h1>

    <p>{% blocktranslate with location=object.name workplace=object.workplace.name %}Are you sure you want to delete location {{ location }}, {{ workplace }}?{% endblocktranslate %}</p>

    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-danger">{% translate 'Delete' %}</button>
        <a href="{% url "location_list" %}" class="btn btn-secondary">{% translate "Cancel" %}</a>
    </form>
{% endblock content %}