{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% translate "Delete workplace" %}
{% endblock %}

{% block content %}
    <h1>{% translate 'Delete workplace' %}</h1>

    <p>{% blocktranslate with workplace=object.name %}Are you sure you want to delete workplace {{ workplace }}?{% endblocktranslate %}</p>

    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-danger">{% translate 'Delete' %}</button>
        <a href="{% url "workplace_list" %}" class="btn btn-secondary">{% translate "Cancel" %}</a>
    </form>
{% endblock content %}
