{% extends "base.html" %}
{% load i18n %}

{% block title %}
	{% translate "Users" %}
{% endblock %}

{% block content %}
    <h1>{% translate "Users" %}</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>{% translate "Name" %}</th>
            <th>{% translate "Email address" %}</th>
            <th>{% translate "Role" %}</th>
            <th>{% translate "Status" %}</th>
            <th class="text-end">{% translate "Actions" %}</th>
        </tr>
        </thead>

        <tbody>
        {% for user in object_list %}
            <tr>
                <td>{{ user.get_full_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.get_role_display }}</td>
                <td>{% if user.is_active %}{% translate "Active" %}{% else %}{% translate "Inactive" %}{% endif %}</td>
                <td class="text-end">
                    <a href="{% url 'user_update' pk=user.id %}" class="btn btn-sm btn-primary">
                        <i class="bi bi-pencil"></i> {% translate "Edit" %}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'user_create' %}" class="btn btn-success">
        <i class="bi bi-plus-lg"></i> {% translate "Add user" %}
    </a>
{% endblock content %}
