{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <h1>{% translate 'New cylinder delivery' %}</h1>

    <div class="alert alert-primary">
        <b>{% translate "You are creating a new cylinder delivery." %}</b>
        {% blocktranslate %}Did you mean to edit cylinder's current properties instead?{% endblocktranslate %}
    </div>

    <form method="post" class="mt-4">
        {% csrf_token %}
        {% include "forms/form.html" %}
        <div class="row">
            <div class="col-sm-10 offset-sm-2">
                <button type="submit" class="btn btn-primary">{% translate 'Save' %}</button>
            </div>
        </div>
    </form>
{% endblock content %}
