{% extends "base.html" %}
{% load i18n %}

{% block title %}Detail fľaše{% endblock %}

{% block content %}
<style>
    .detail-heading {
        font-weight: bold;
        font-size: 1.5em;
    }
    .detail-label {
        font-weight: bold;
        display: inline-block;
        margin-right: 5px;
    }
    .detail-value {
        display: inline;
    }
    .detail-row {
        margin-bottom: 10px;
    }
    .delivery-table {
        width: 400px;
        margin: 20px 0
    }
    .delivery-table-row {
        border: 1px solid black;
    }
    .delivery-table-data {
        padding: 5px 10px;
    }
</style>

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="detail-heading">{{ cylinder_life.cylinder.barcode }}</h1>
		<div class="d-flex">
		  <a href="{% url 'cylinder_edit' cylinder_life.cylinder.id %}" class="btn btn-primary" style="margin-right: 5px;">{% translate "Edit Properties" %}</a>
		  <a href="{% url 'cylinder_life_pressure' cylinder_life.cylinder.id %}" class="btn btn-danger">{% translate "Log Pressure" %}</a>
		</div>
    </div>
            <hr>
            <div class="detail-row"><span class="detail-label">{% translate "Gas:" %}</span><span class="detail-value">{{ cylinder_life.gas }}</span></div>
            <div class="detail-row"><span class="detail-label">{% translate "Volume:" %}</span><span class="detail-value">{{ cylinder_life.volume }} ℓ</span></div>
            <div class="detail-row"><span class="detail-label">{% translate "Current pressure:" %}</span><span class="detail-value">{{ cylinder_life.pressure }} bar</span></div>
            <div class="detail-row"><span class="detail-label">{% translate "Location:" %}</span><span class="detail-value">{{ cylinder_life.location }}</span></div>
            <div class="detail-row"><span class="detail-label">{% translate "Owner:" %}</span><span class="detail-value">{{ cylinder_life.cylinder.owner }}</span></div>
            <div class="detail-row"><span class="detail-label">{% translate "Supplier:" %}</span><span class="detail-value">{{ cylinder_life.supplier }}</span></div>
            <div class="detail-row"><span class="detail-label">{% translate "Note:" %}</span><span class="detail-value">{{ cylinder_life.note }}</span></div>
        </div>
    <div class="history-section">
        <h2>{% translate "History" %}</h2>
        <ul>
            {% for change in history %}
                <li>
                    <strong>{{ change.timestamp|date:"Y-m-d H:i" }}</strong> - 
                    {% if change.pressure %}{% translate "Pressure:" %} {{ change.pressure }} bar, {% endif %}
                    {% if change.location %}{% translate "Location:" %} {{ change.location.name }}, {% endif %}
                    {% if change.is_connected is not None %}{% translate "Connected:" %} {{ change.is_connected|yesno:"Yes,No" }}, {% endif %}
                    {% if change.note %}{% translate "Note:" %} {{ change.note }}, {% endif %}
                    {% translate "Edited by:" %} {{ change.user.get_full_name }}
                </li>
            {% empty %}
                <li>{% translate "No history available." %}</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h2>{% translate "Previous deliveries" %}</h2>
        <table class="delivery-table">
            {% for delivery in deliveries %}
                <tr class="delivery-table-row">
                    <td class="delivery-table-data">
                        <strong>{{ delivery.gas.name }} ({{ delivery.volume }})</strong> {{ delivery.start_date }} - {{ delivery.end_time }}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td>No previous deliveries</td>
                </tr>
            {% endfor %}
        </table>
       <a href="{% url 'cylinder_create' %}" class="btn btn-success">
           <i class="bi bi-plus-lg"></i> {% translate "New delivery" %}
       </a>
    </div>
{% endblock %}
