{% extends "base.html" %}
{% load i18n %}

{% block title %}Detail fľaše{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>{{ cylinder_life.cylinder.barcode }}</h1>
        <div>
            {% if user.role >= user.Role.OPERATOR %}
            <a href="{% url 'cylinder_life_update' cylinder_life.id %}" class="btn btn-primary">{% translate "Edit properties" %}</a>
            <a href="{% url 'cylinder_life_relocate' cylinder_life.id %}" class="btn btn-warning">{% translate "Change location" %}</a>
            {% endif %}
            {% if user.role >= user.Role.EDITOR %}
            <a href="{% url 'cylinder_life_pressure' cylinder_life.cylinder.id %}" class="btn btn-danger">{% translate "Log pressure" %}</a>
            {% endif %}
        </div>
    </div>
    <hr>

    <div class="row">
        <dl class="row col-sm-4">
            <dt class="col-sm-5">{% translate "Gas" %}</dt>
            <dd class="col-sm-7">{{ cylinder_life.gas|default:"--" }}</dd>

            <dt class="col-sm-5">{% translate "Volume" %}</dt>
            <dd class="col-sm-7">{{ cylinder_life.volume|default:"--" }} ℓ</dd>

            <dt class="col-sm-5">{% translate "Current pressure" %}</dt>
            <dd class="col-sm-7">{{ cylinder_life.pressure|default:"--" }} bar</dd>

            <dt class="col-sm-5">{% translate "Location" %}</dt>
            <dd class="col-sm-7">{{ cylinder_life.location }}</dd>

            <dt class="col-sm-5">{% translate "Owner" %}</dt>
            <dd class="col-sm-7">{{ cylinder_life.cylinder.owner|default:"--" }}</dd>

            <dt class="col-sm-5">{% translate "Supplier" %}</dt>
            <dd class="col-sm-7">{{ cylinder_life.supplier|default:"--" }}</dd>

            <dt class="col-sm-5">{% translate "First use" %}</dt>
            <dd class="col-sm-7">{% if first_use %}{{ first_use|date }}{% else %}--{% endif %}</dd>

            <dt class="col-sm-5">{% translate "Note" %}</dt>
            <dd class="col-sm-7">{{ cylinder_life.note }}</dd>
        </dl>

        <div class="col-sm-8">
			<canvas id="pressure_chart"></canvas>

            {{ chart_data|json_script:"chart_data" }}

			<script>
                const ctx = document.getElementById('pressure_chart').getContext('2d');
                const myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        datasets: [{
                            label: '{% translate "Pressure" %}',
                            data: JSON.parse(document.getElementById("chart_data").innerText),
                            borderColor: '#0d6efd',
                            backgroundColor: '#4b93ff',
                        }]
                    },
                    options: {
                        plugins: {
                            legend: {
                                display: false,
                            },
                        },
                        scales: {
                            y: {
                                title: {
                                    display: true,
                                    text: '{% translate "Pressure" %}',
                                },
                            },
                            x: {
                                type: 'time',
                            }
                        }
                    }
                });
            </script>
		</div>
    </div>

    <div class="row mt-4">
        <div class="col-sm-6">
			<div class="d-flex justify-content-between align-items-center">
				<h2>{% translate "History" %}</h2>
				<form method="post">
					{% csrf_token %}
					<button type="submit" class="btn btn-dark">
                        <i class="bi bi-arrow-counterclockwise"></i>
                        {% translate "Revert last change" %}
                    </button>
				</form>
			</div>
            <ul class="list-group">
                {% for change in history %}
                    <li class="list-group-item">
                        {% if change.location %}
                        <p class="mb-0">
                            {% translate "Location" %} &rightarrow; {{ change.location }}

                            {% if change.is_connected %}
                            <span class="text-success">({% translate "Connected" %})</span>
                            {% else %}
                            <span class="text-danger">({% translate "Disconnected" %})</span>
                            {% endif %}
                        </p>
                        {% endif %}
                        {% if change.pressure %}
                        <p class="mb-0">{% translate "Pressure" %} &rightarrow; {{ change.pressure|default:"--" }} bar</p>
                        {% endif %}
                        {% if change.note %}
                        <p class="mb-0">{% translate "Note" %}: {{ change.note }}</p>
                        {% endif %}

                        <p class="mt-1 mb-0">
                            <small>
                                <i class="bi bi-clock"></i> {{ change.timestamp|date }} {{ change.timestamp|time }}
                                &middot;
                                <i class="bi bi-person"></i> {{ change.user.get_full_name }}
                            </small>
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-sm-6">
            <h2>{% translate "Previous deliveries" %}</h2>
            <div class="list-group mb-2">
                {% for delivery in deliveries %}
                    <a href="{% url "cylinder_life_detail" pk=delivery.id %}" class="list-group-item list-group-item-action {% if delivery.is_current %}list-group-item-primary{% endif %}">
                        <strong>{{ delivery.gas.name }}</strong>
                        {{ delivery.start_date|date }} - {{ delivery.end_date|date }}
                    </a>
                {% endfor %}
            </div>

            <a href="{% url 'cylinder_create' %}?barcode={{ cylinder_life.cylinder.barcode }}" class="btn btn-success">
                <i class="bi bi-plus-lg"></i> {% translate "New delivery" %}
            </a>
        </div>
		

	
    </div>
{% endblock %}
