<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form method="post">
        {% csrf_token %}
        <label for="barcode">Barcode:</label>
        <input type="text" id="barcode" name="barcode" value="{{ request.POST.barcode }}">
        <label for="note">Note:</label>
        <input type="text" id="note" name="note" value="{{ request.POST.note }}">
        <button type="submit" name="filter_cylinders" value="1">Filter</button>
    </form>

    <form action="{% url 'cylinder_list' %}" method="get">
        <button type="submit" name="export_csv" value="1">Export CSV</button>
    </form>

    <table style="border: 1px solid black">
        <tr style="border: 1px solid black">
            <th style="border: 1px solid black">barcode</th>
            <th style="border: 1px solid black">gas</th>
            <th style="border: 1px solid black">volume</th>
            <th style="border: 1px solid black">current pressure</th>
            <th style="border: 1px solid black">current location</th>
            <th style="border: 1px solid black">owner</th>
            <th style="border: 1px solid black">supplier</th>
            <th style="border: 1px solid black">notes</th>
            <th style="border: 1px solid black">status</th>
        </tr>

        {% for i in object_list %}
        <tr>
            <td>{{ i.cylinder.barcode }}</td>
            <td>{{ i.gas.name }}</td>
            <td>{{ i.volume }}</td>
            <td>{{ i.pressure }}</td>
            <td>{{ i.location.name }}</td>
            <td>{{ i.cylinder.owner.name }}</td>
            <td>{{ i.supplier.name }}</td>
            <td>{{ i.note }}</td>
            <td>{{ i.is_connected }}</td>
        {% endfor %}
    </table>
</body>
</html>