{% extends "base.html" %}
{% load i18n %}

{% block title %}
	{% translate 'Manually log pressure' %}
{% endblock %}

{% block content %}
    <h1>{% translate 'Manually log pressure' %}</h1>

    <p>{% translate "Barcode" %}: {{ life.cylinder.barcode }}</p>

    {% if "pressure" in request.GET %}
    <div class="alert alert-warning">
        {% translate "The pressure was detected automatically from the photo. This might not be accurate, please check it." %}
    </div>
    {% endif %}

    <form method="post" class="mt-4">
        {% csrf_token %}
        {% include "forms/form.html" %}
        <div class="row">
            <div class="col-sm-10 offset-sm-2">
                <button type="submit" class="btn btn-primary">{% translate 'Save' %}</button>
            </div>
        </div>
    </form>
{% endblock content %}
