{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% translate "Scan barcode" %}{% endblock %}

{% block content %}
    <h1>{% translate 'Scan barcode' %}</h1>

    {% if error %}
    <div class="alert alert-danger">{% translate "There is no cylinder with the scanned barcode." %}</div>

    {% if user.role >= user.Role.OPERATOR %}
    <a href="{% url "cylinder_create" %}?barcode={{ barcode }}" class="btn btn-success mb-4">
        <i class="bi bi-plus-lg"></i> {% translate "Add cylinder" %}
    </a>
    {% endif %}
    {% endif %}

    <div id="scanner" style="width: 100%"></div>

    <button class="btn btn-primary" id="scanner-start">{% translate "Start scanner" %}</button>

    <form method="post" class="hidden" id="scanner-form">
        {% csrf_token %}
        <input type="hidden" id="scanner-field" name="barcode">
    </form>

    <script src="{% static "vendor/html5-qrcode.js" %}"></script>
    <script>
        let scanner = new Html5Qrcode("scanner", {
            useBarCodeDetectorIfSupported: true,
        }, false)

        function onScanSuccess(decodedText, decodedResult) {
            scanner.stop()
            document.getElementById("scanner-field").value = decodedText
            document.getElementById("scanner-form").submit()
        }

        document.getElementById("scanner-start").addEventListener("click", () => {
            document.getElementById("scanner-start").classList.add("d-none")
            scanner.start({facingMode: "environment"}, {fps: 10}, onScanSuccess)
        })
    </script>
{% endblock content %}
